# Postgres:
PG_TEST_DATABASE_NAME="tr_test"
PG_TEST_DATABASE_DSN="pgsql:host:127.0.0.1;port=5432;dbname=tr_test"
PG_TEST_DATABASE_USER="postgres"
PG_TEST_DATABASE_PASSWORD="postgres"

# MySQL:
MYSQL_TEST_DATABASE_NAME="tr_test"
MYSQL_TEST_DATABASE_DSN="mysql:host:127.0.0.1;port=3306;dbname=tr_test"
MYSQL_TEST_DATABASE_USER="phptr"
MYSQL_TEST_DATABASE_PASSWORD="phptr"

# MariaDB:
MARIADB_TEST_DATABASE_NAME="tr_test"
MARIADB_TEST_DATABASE_DSN="mysql:host:127.0.0.1;port=3307;dbname=tr_test"
MARIADB_TEST_DATABASE_USER="phptr"
MARIADB_TEST_DATABASE_PASSWORD="phptr"

# Sqlite:
SQLITE_TEST_DATABASE_NAME="tr_test"
SQLITE_TEST_DATABASE_DSN="sqlite:tr_test.db"
SQLITE_TEST_DATABASE_USER=""
SQLITE_TEST_DATABASE_PASSWORD=""

# Examples: The example connection uses these env vars:
EXAMPLE_DATABASE_NAME="tr_test"
EXAMPLE_DATABASE_DSN="pgsql:host:127.0.0.1;port=5432;dbname=tr_test"
EXAMPLE_DATABASE_USER="postgres"
EXAMPLE_DATABASE_PASSWORD="postgres"

